## Bibliotecas
# Pandas

In [ ]:
# Bibliotecas Python para análise e manipulação de dados
# trabalha com tabelas (DaraFrames) e séries (Series)
# Muito usada em ciência de dados

In [1]:
import pandas as pd

In [4]:
dados = [
    ['Ana', 23, 'São Paulo'],
    ['Bruno', 35, 'Rio de Janeiro'],
    ["Carlos", 45, 'Belo Horizonte'],
    ['Daniela', 29, 'Curitiba']
]
colunas = ['Nome', 'Idade', 'Cidade']
df = pd.DataFrame(dados, columns= colunas)
df

      Nome  Idade          Cidade
0      Ana     23       São Paulo
1    Bruno     35  Rio de Janeiro
2   Carlos     45  Belo Horizonte
3  Daniela     29        Curitiba

In [6]:
dicio = {'Nome': ['Ana', 'Bruno', 'Carlos', 'Daniela'],
         'Idade': [23,35,45,29], 
         'Cidade': ['São Paulo', 'Rio de Janeiro', 'Belo Horizonte', 'Curitiba'] }
df = pd.DataFrame(dicio)
df

      Nome  Idade          Cidade
0      Ana     23       São Paulo
1    Bruno     35  Rio de Janeiro
2   Carlos     45  Belo Horizonte
3  Daniela     29        Curitiba

In [6]:
df = pd.read_csv('BaseDPEvolucaoMensalCisp.csv', sep= ';', encoding= 'latin1')
df

,cisp,mes,ano,mes_ano,aisp,risp,munic,mcirc,regiao,hom_doloso,...,cmp,cmba,ameaca,pessoas_desaparecidas,encontro_cadaver,encontro_ossada,pol_militares_mortos_serv,pol_civis_mortos_serv,registro_ocorrencias,fase
0,1,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,0,...,NaN,NaN,21,2,0,0,0,0,578,3
1,4,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,3,...,NaN,NaN,15,6,0,1,0,0,441,3
2,5,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,3,...,NaN,NaN,47,2,1,0,0,0,637,3
3,6,1,2003,2003m01,1,1,Rio de Janeiro,3304557,Capital,6,...,NaN,NaN,26,2,1,0,0,0,473,3
4,7,1,2003,2003m01,1,1,Rio de Janeiro,3304557,Capital,4,...,NaN,NaN,10,1,3,0,0,0,147,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36487,159,7,2025,2025m07,35,4,Cachoeiras de Macacu,3300803,Interior,1,...,2.0,2.0,17,0,0,0,0,0,134,2
36488,165,7,2025,2025m07,33,5,Mangaratiba,3302601,Interior,0,...,8.0,0.0,31,3,0,0,0,0,207,2
36489,166,7,2025,2025m07,33,5,Angra dos Reis,3300100,Interior,1,...,6.0,1.0,59,7,0,0,0,0,584,2
36490,167,7,2025,2025m07,43,5,Paraty,3303807,Interior,0,...,8.0,0.0,18,3,1,0,0,0,187,2
36491,168,7,2025,2025m07,28,5,Rio Claro,3304409,Interior,0,...,3.0,0.0,14,0,0,0,0,0,56,2

## Em tabelas com a de cima quando o numeral estiver a esquerda ele é uma str, quando a direita é um numeral (int ou float)

In [17]:
df.head()

,cisp,mes,ano,mes_ano,aisp,risp,munic,mcirc,regiao,hom_doloso,...,cmp,cmba,ameaca,pessoas_desaparecidas,encontro_cadaver,encontro_ossada,pol_militares_mortos_serv,pol_civis_mortos_serv,registro_ocorrencias,fase
0,1,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,0,...,NaN,NaN,21,2,0,0,0,0,578,3
1,4,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,3,...,NaN,NaN,15,6,0,1,0,0,441,3
2,5,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,3,...,NaN,NaN,47,2,1,0,0,0,637,3
3,6,1,2003,2003m01,1,1,Rio de Janeiro,3304557,Capital,6,...,NaN,NaN,26,2,1,0,0,0,473,3
4,7,1,2003,2003m01,1,1,Rio de Janeiro,3304557,Capital,4,...,NaN,NaN,10,1,3,0,0,0,147,3

In [19]:
df.describe()

,cisp,mes,ano,aisp,risp,mcirc,hom_doloso,lesao_corp_morte,latrocinio,cvli,...,cmp,cmba,ameaca,pessoas_desaparecidas,encontro_cadaver,encontro_ossada,pol_militares_mortos_serv,pol_civis_mortos_serv,registro_ocorrencias,fase
count,36492.000000,36492.000000,36492.000000,36492.000000,36492.000000,3.649200e+04,36492.000000,36492.000000,36492.000000,36492.000000,...,31846.000000,31846.000000,36492.000000,36492.000000,36492.000000,36492.000000,36492.00000,36492.000000,36492.000000,36492.000000
mean,81.723474,6.436781,2013.941439,20.133728,3.869972,3.793030e+06,2.953579,0.028116,0.096158,3.077853,...,8.777680,0.635370,41.226269,3.207224,0.362271,0.022991,0.01351,0.002192,440.695714,2.984983
std,48.319819,3.445147,6.488803,11.344411,2.011559,1.742922e+06,4.357102,0.179607,0.368068,4.472840,...,14.954426,1.640188,39.360389,4.146732,0.995520,0.181773,0.13143,0.048497,395.287849,0.121622
min,1.000000,1.000000,2003.000000,1.000000,1.000000,3.300100e+06,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,2.000000
25%,38.000000,3.000000,2008.000000,10.000000,2.000000,3.302601e+06,0.000000,0.000000,0.000000,0.000000,...,2.000000,0.000000,14.000000,0.000000,0.000000,0.000000,0.00000,0.000000,105.000000,3.000000
50%,78.000000,6.000000,2014.000000,20.000000,4.000000,3.304557e+06,1.000000,0.000000,0.000000,1.000000,...,5.000000,0.000000,30.000000,2.000000,0.000000,0.000000,0.00000,0.000000,368.500000,3.000000
75%,125.000000,9.000000,2020.000000,30.000000,6.000000,3.304557e+06,4.000000,0.000000,0.000000,4.000000,...,11.000000,1.000000,56.000000,5.000000,0.000000,0.000000,0.00000,0.000000,659.000000,3.000000
max,168.000000,12.000000,2025.000000,43.000000,7.000000,9.999999e+06,43.000000,6.000000,9.000000,43.000000,...,419.000000,60.000000,370.000000,191.000000,112.000000,10.000000,4.00000,2.000000,3185.000000,3.000000

In [21]:
df.shape

(36492, 63)

In [22]:
df.columns

Index(['cisp', 'mes', 'ano', 'mes_ano', 'aisp', 'risp', 'munic', 'mcirc',
       'regiao', 'hom_doloso', 'lesao_corp_morte', 'latrocinio', 'cvli',
       'hom_por_interv_policial', 'letalidade_violenta', 'tentat_hom',
       'lesao_corp_dolosa', 'estupro', 'hom_culposo', 'lesao_corp_culposa',
       'roubo_transeunte', 'roubo_celular', 'roubo_em_coletivo', 'roubo_rua',
       'roubo_veiculo', 'roubo_carga', 'roubo_comercio', 'roubo_residencia',
       'roubo_banco', 'roubo_cx_eletronico', 'roubo_conducao_saque',
       'roubo_apos_saque', 'roubo_bicicleta', 'outros_roubos', 'total_roubos',
       'furto_veiculos', 'furto_transeunte', 'furto_coletivo', 'furto_celular',
       'furto_bicicleta', 'outros_furtos', 'total_furtos', 'sequestro',
       'extorsao', 'sequestro_relampago', 'estelionato', 'apreensao_drogas',
       'posse_drogas', 'trafico_drogas', 'apreensao_drogas_sem_autor',
       'recuperacao_veiculos', 'apf', 'aaapai', 'cmp', 'cmba', 'ameaca',
       'pessoas_desaparecidas', 'encontro_cadaver', 'encontro_ossada',
       'pol_militares_mortos_serv', 'pol_civis_mortos_serv',
       'registro_ocorrencias', 'fase'],
      dtype='object')

In [23]:
df_1000_a_2000 = df.iloc[1000:2001]
df_1000_a_2000

,cisp,mes,ano,mes_ano,aisp,risp,munic,mcirc,regiao,hom_doloso,...,cmp,cmba,ameaca,pessoas_desaparecidas,encontro_cadaver,encontro_ossada,pol_militares_mortos_serv,pol_civis_mortos_serv,registro_ocorrencias,fase
1000,147,8,2003,2003m08,8,6,São Francisco de Itabapoana,3304755,Interior,0,...,NaN,NaN,12,0,0,0,0,0,67,3
1001,151,8,2003,2003m08,11,7,Nova Friburgo,3303401,Interior,3,...,NaN,NaN,102,7,2,0,0,0,532,3
1002,152,8,2003,2003m08,11,7,Duas Barras,3301603,Interior,0,...,NaN,NaN,3,0,0,0,0,0,14,3
1003,153,8,2003,2003m08,11,7,Cantagalo,3301108,Interior,0,...,NaN,NaN,8,0,0,0,0,0,40,3
1004,154,8,2003,2003m08,11,7,Cordeiro;Macuco,9999998,Interior,0,...,NaN,NaN,17,0,0,0,0,0,74,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1996,100,4,2004,2004m04,28,5,Porto Real;Quatis,9999992,Interior,0,...,NaN,NaN,21,0,0,0,0,0,64,3
1997,101,4,2004,2004m04,10,5,Pinheiral,3303955,Interior,0,...,NaN,NaN,21,0,1,0,0,0,77,3
1998,104,4,2004,2004m04,30,7,São José do Vale do Rio Preto,3305158,Interior,0,...,NaN,NaN,4,0,0,0,0,0,33,3
1999,105,4,2004,2004m04,26,7,Petrópolis,3303906,Interior,2,...,NaN,NaN,108,8,0,0,0,0,511,3
2000,106,4,2004,2004m04,26,7,Petrópolis,3303906,Interior,1,...,NaN,NaN,10,1,0,0,0,0,119,3

In [24]:
df_rj = df.loc[df['munic'] == 'Rio de Janeiro']
df_rj

,cisp,mes,ano,mes_ano,aisp,risp,munic,mcirc,regiao,hom_doloso,...,cmp,cmba,ameaca,pessoas_desaparecidas,encontro_cadaver,encontro_ossada,pol_militares_mortos_serv,pol_civis_mortos_serv,registro_ocorrencias,fase
0,1,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,0,...,NaN,NaN,21,2,0,0,0,0,578,3
1,4,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,3,...,NaN,NaN,15,6,0,1,0,0,441,3
2,5,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,3,...,NaN,NaN,47,2,1,0,0,0,637,3
3,6,1,2003,2003m01,1,1,Rio de Janeiro,3304557,Capital,6,...,NaN,NaN,26,2,1,0,0,0,473,3
4,7,1,2003,2003m01,1,1,Rio de Janeiro,3304557,Capital,4,...,NaN,NaN,10,1,3,0,0,0,147,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36391,40,7,2025,2025m07,9,2,Rio de Janeiro,3304557,Capital,3,...,3.0,0.0,25,2,0,0,0,0,598,2
36392,41,7,2025,2025m07,18,2,Rio de Janeiro,3304557,Capital,1,...,2.0,0.0,38,8,0,0,0,0,786,2
36393,42,7,2025,2025m07,31,2,Rio de Janeiro,3304557,Capital,0,...,7.0,1.0,75,2,0,0,0,0,1384,2
36394,43,7,2025,2025m07,27,2,Rio de Janeiro,3304557,Capital,0,...,7.0,0.0,86,9,1,0,0,0,671,2
36395,44,7,2025,2025m07,3,1,Rio de Janeiro,3304557,Capital,1,...,5.0,4.0,27,2,0,0,0,0,829,2

In [ ]:
# df_ni_20 = df.loc[df['munic'] in ['Nova Iguaçu', 'Duque de Caxias']]

In [26]:
df_rj_ordenado = df_rj.sort_values(by='pessoas_desaparecidas', ascending=False)
df_rj_ordenado

,cisp,mes,ano,mes_ano,aisp,risp,munic,mcirc,regiao,hom_doloso,...,cmp,cmba,ameaca,pessoas_desaparecidas,encontro_cadaver,encontro_ossada,pol_militares_mortos_serv,pol_civis_mortos_serv,registro_ocorrencias,fase
35838,35,3,2025,2025m03,40,2,Rio de Janeiro,3304557,Capital,8,...,30.0,1.0,216,39,2,0,0,0,2346,3
18939,36,12,2014,2014m12,27,2,Rio de Janeiro,3304557,Capital,16,...,17.0,1.0,124,35,1,0,0,0,871,3
15377,35,10,2012,2012m10,40,2,Rio de Janeiro,3304557,Capital,6,...,32.0,0.0,271,34,2,0,0,0,1941,3
16465,35,6,2013,2013m06,40,2,Rio de Janeiro,3304557,Capital,8,...,23.0,1.0,295,32,1,0,0,0,1954,3
10804,35,12,2009,2009m12,39,2,Rio de Janeiro,3304557,Capital,26,...,15.0,0.0,283,31,0,0,0,0,1809,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22496,4,2,2017,2017m02,5,1,Rio de Janeiro,3304557,Capital,3,...,9.0,3.0,7,0,0,0,0,0,361,3
22495,1,2,2017,2017m02,5,1,Rio de Janeiro,3304557,Capital,0,...,2.0,2.0,4,0,1,0,0,0,335,3
22518,27,2,2017,2017m02,41,2,Rio de Janeiro,3304557,Capital,3,...,3.0,0.0,5,0,1,0,0,0,418,3
21,26,1,2003,2003m01,3,1,Rio de Janeiro,3304557,Capital,0,...,NaN,NaN,0,0,0,0,0,0,0,3
36358,6,7,2025,2025m07,4,1,Rio de Janeiro,3304557,Capital,2,...,7.0,4.0,18,0,0,0,0,0,561,2

## Agrupamento de dados
 Dados quantitativos são os que se podem somar

In [37]:
df_regiao_ocorrencias = df.groupby('regiao')['registro_ocorrencias'].sum().reset_index()
df_regiao_ocorrencias

               regiao  registro_ocorrencias
0  Baixada Fluminense               3002660
1             Capital               7957395
2      Grande Niterói               1540712
3            Interior               3581101

In [3]:
estudo = pd.read_csv('Preços semestrais.csv', sep= ';', encoding= 'latin1')
estudo

C:\Users\samuel.coimbra\AppData\Local\Temp\ipykernel_48476\3479157438.py:1: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,9,10,11,12,14,15) have mixed types. Specify dtype option on import or set low_memory=False.
  estudo = pd.read_csv('Preços semestrais.csv', sep= ';', encoding= 'latin1')

,ï»¿Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
0,NE,CE,SOBRAL,ECONOGÃS DO BRASIL DIST. DERIV. DE PET. BIOC....,08.775.979/0002-62,RUA TABELIÃO IDELFONSO CAVALCANTI,455,NaN,CENTRO,62010-000,GASOLINA,01/01/2025,"6,29",NaN,R$ / litro,RAIZEN
1,NE,CE,SOBRAL,ECONOGÃS DO BRASIL DIST. DERIV. DE PET. BIOC....,08.775.979/0002-62,RUA TABELIÃO IDELFONSO CAVALCANTI,455,NaN,CENTRO,62010-000,GASOLINA ADITIVADA,01/01/2025,"6,49",NaN,R$ / litro,RAIZEN
2,NE,CE,SOBRAL,ECONOGÃS DO BRASIL DIST. DERIV. DE PET. BIOC....,08.775.979/0002-62,RUA TABELIÃO IDELFONSO CAVALCANTI,455,NaN,CENTRO,62010-000,DIESEL S10,01/01/2025,"6,19",NaN,R$ / litro,RAIZEN
3,NE,CE,SOBRAL,ECONOGÃS DO BRASIL DIST. DERIV. DE PET. BIOC....,08.775.979/0002-62,RUA TABELIÃO IDELFONSO CAVALCANTI,455,NaN,CENTRO,62010-000,ETANOL,01/01/2025,"5,19",NaN,R$ / litro,RAIZEN
4,NE,CE,SOBRAL,V.C.EMPREENDIMENTOS LTDA,03.551.935/0002-35,AVENIDA JOSE EUCLIDES FERREIRA GOMES,30,POSTO FLASH,CORACAO DE JESUS,62043-070,GASOLINA,01/01/2025,"6,53",NaN,R$ / litro,RAIZEN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
429518,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
429519,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
429520,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
429521,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
429522,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
estudo_rj = estudo.loc[estudo['Estado - Sigla'] == 'RJ']
estudo_rj

,ï»¿Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
54,SE,RJ,CAMPOS DOS GOYTACAZES,POSTO DE COMBUSTIVEIS CONTORNO DE CAMPOS LTDA,31.212.889/0002-85,AVENIDA NILO PECANHA,614,/822 PATIO,PQ SANTO AMARO,28030-035,GNV,01/01/2025,"5,39",NaN,R$ / mÂ³,VIBRA
55,SE,RJ,CAMPOS DOS GOYTACAZES,POSTO DE COMBUSTIVEIS CONTORNO DE CAMPOS LTDA,31.212.889/0002-85,AVENIDA NILO PECANHA,614,/822 PATIO,PQ SANTO AMARO,28030-035,GASOLINA,01/01/2025,"6,49",NaN,R$ / litro,VIBRA
56,SE,RJ,CAMPOS DOS GOYTACAZES,POSTO DE COMBUSTIVEIS CONTORNO DE CAMPOS LTDA,31.212.889/0002-85,AVENIDA NILO PECANHA,614,/822 PATIO,PQ SANTO AMARO,28030-035,GASOLINA ADITIVADA,01/01/2025,"6,69",NaN,R$ / litro,VIBRA
57,SE,RJ,CAMPOS DOS GOYTACAZES,POSTO DE COMBUSTIVEIS CONTORNO DE CAMPOS LTDA,31.212.889/0002-85,AVENIDA NILO PECANHA,614,/822 PATIO,PQ SANTO AMARO,28030-035,ETANOL,01/01/2025,"4,79",NaN,R$ / litro,VIBRA
58,SE,RJ,CAMPOS DOS GOYTACAZES,POSTO DE COMBUSTIVEIS B J LTDA,06.211.735/0001-40,RUA BENEDITO QUEIROZ,1,NaN,TURF CLUB,28024-040,GASOLINA,01/01/2025,"6,42",NaN,R$ / litro,BRANCA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
420095,SE,RJ,NOVA FRIBURGO,F.MURY DESIGN PROPAGANDA E PUBLICIDADE LTDA,07.707.130/0002-99,ESTRADA FRIBURGO AMPARO,15604,LP N 0130/2018 LP N 0440/2019,CHACARA PARAISO,28605-520,DIESEL S10,30/06/2025,"6,69",NaN,R$ / litro,VIBRA
420096,SE,RJ,NOVA FRIBURGO,F.MURY DESIGN PROPAGANDA E PUBLICIDADE LTDA,07.707.130/0002-99,ESTRADA FRIBURGO AMPARO,15604,LP N 0130/2018 LP N 0440/2019,CHACARA PARAISO,28605-520,ETANOL,30/06/2025,"5,05",NaN,R$ / litro,VIBRA
420152,SE,RJ,NITEROI,POSTO DE COMBUSTIVEIS GIGANTE DA ALAMEDA LTDA.,21.599.015/0001-98,ALAMEDA SAO BOAVENTURA,133,NaN,FONSECA,24130-005,GASOLINA,30/06/2025,"5,69",NaN,R$ / litro,RAIZEN
420153,SE,RJ,NITEROI,POSTO DE COMBUSTIVEIS GIGANTE DA ALAMEDA LTDA.,21.599.015/0001-98,ALAMEDA SAO BOAVENTURA,133,NaN,FONSECA,24130-005,GASOLINA ADITIVADA,30/06/2025,"5,69",NaN,R$ / litro,RAIZEN
420154,SE,RJ,NITEROI,POSTO DE COMBUSTIVEIS GIGANTE DA ALAMEDA LTDA.,21.599.015/0001-98,ALAMEDA SAO BOAVENTURA,133,NaN,FONSECA,24130-005,ETANOL,30/06/2025,"4,19",NaN,R$ / litro,RAIZEN

In [5]:
estudo_rj['Valor de Venda'] = estudo_rj['Valor de Venda'].str.replace('R$', '').str.replace('.', '').str.replace(',', '.').astype(float)

C:\Users\samuel.coimbra\AppData\Local\Temp\ipykernel_48476\1330952821.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  estudo_rj['Valor de Venda'] = estudo_rj['Valor de Venda'].str.replace('R$', '').str.replace('.', '').str.replace(',', '.').astype(float)

In [6]:
estudo_cidade_rj = estudo_rj.loc[estudo_rj['Municipio'] == 'RIO DE JANEIRO']
estudo_cidade_rj

,ï»¿Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
997,SE,RJ,RIO DE JANEIRO,POSTO MANÃ GARRINCHA DE BOTAFOGO LTDA.,07.877.289/0001-70,RUA VOLUNTARIOS DA PATRIA,308,NaN,BOTAFOGO,22270-010,GNV,02/01/2025,4.89,NaN,R$ / mÂ³,RAIZEN
998,SE,RJ,RIO DE JANEIRO,POSTO MANÃ GARRINCHA DE BOTAFOGO LTDA.,07.877.289/0001-70,RUA VOLUNTARIOS DA PATRIA,308,NaN,BOTAFOGO,22270-010,GASOLINA,02/01/2025,5.99,NaN,R$ / litro,RAIZEN
999,SE,RJ,RIO DE JANEIRO,POSTO MANÃ GARRINCHA DE BOTAFOGO LTDA.,07.877.289/0001-70,RUA VOLUNTARIOS DA PATRIA,308,NaN,BOTAFOGO,22270-010,GASOLINA ADITIVADA,02/01/2025,6.39,NaN,R$ / litro,RAIZEN
1000,SE,RJ,RIO DE JANEIRO,POSTO MANÃ GARRINCHA DE BOTAFOGO LTDA.,07.877.289/0001-70,RUA VOLUNTARIOS DA PATRIA,308,NaN,BOTAFOGO,22270-010,ETANOL,02/01/2025,4.49,NaN,R$ / litro,RAIZEN
1001,SE,RJ,RIO DE JANEIRO,POSTO DE GASOLINA GASOAL LTDA,05.159.154/0001-44,RUA VINTE E QUATRO DE MAIO,871,NaN,ENGENHO NOVO,20950-091,GASOLINA,02/01/2025,5.59,NaN,R$ / litro,BRANCA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
419210,SE,RJ,RIO DE JANEIRO,AUTO POSTO LUAR DA RIO SANTOS I LTDA,11.103.499/0001-89,ESTRADA DO GANDU ESQ C/BR101,SN,KM 388 AREA REM I LOTE 209 SENTIDO ANGRA,SANTA CRUZ,23560-150,GASOLINA,30/06/2025,5.89,NaN,R$ / litro,RAIZEN
419211,SE,RJ,RIO DE JANEIRO,AUTO POSTO LUAR DA RIO SANTOS I LTDA,11.103.499/0001-89,ESTRADA DO GANDU ESQ C/BR101,SN,KM 388 AREA REM I LOTE 209 SENTIDO ANGRA,SANTA CRUZ,23560-150,GASOLINA ADITIVADA,30/06/2025,6.19,NaN,R$ / litro,RAIZEN
419212,SE,RJ,RIO DE JANEIRO,AUTO POSTO LUAR DA RIO SANTOS I LTDA,11.103.499/0001-89,ESTRADA DO GANDU ESQ C/BR101,SN,KM 388 AREA REM I LOTE 209 SENTIDO ANGRA,SANTA CRUZ,23560-150,DIESEL,30/06/2025,5.79,NaN,R$ / litro,RAIZEN
419213,SE,RJ,RIO DE JANEIRO,AUTO POSTO LUAR DA RIO SANTOS I LTDA,11.103.499/0001-89,ESTRADA DO GANDU ESQ C/BR101,SN,KM 388 AREA REM I LOTE 209 SENTIDO ANGRA,SANTA CRUZ,23560-150,DIESEL S10,30/06/2025,5.89,NaN,R$ / litro,RAIZEN
419214,SE,RJ,RIO DE JANEIRO,AUTO POSTO LUAR DA RIO SANTOS I LTDA,11.103.499/0001-89,ESTRADA DO GANDU ESQ C/BR101,SN,KM 388 AREA REM I LOTE 209 SENTIDO ANGRA,SANTA CRUZ,23560-150,ETANOL,30/06/2025,4.39,NaN,R$ / litro,RAIZEN

In [7]:
estudo_gas = estudo_cidade_rj.loc[estudo_cidade_rj['Produto'] == 'GASOLINA']
estudo_gas

,ï»¿Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
998,SE,RJ,RIO DE JANEIRO,POSTO MANÃ GARRINCHA DE BOTAFOGO LTDA.,07.877.289/0001-70,RUA VOLUNTARIOS DA PATRIA,308,NaN,BOTAFOGO,22270-010,GASOLINA,02/01/2025,5.99,NaN,R$ / litro,RAIZEN
1001,SE,RJ,RIO DE JANEIRO,POSTO DE GASOLINA GASOAL LTDA,05.159.154/0001-44,RUA VINTE E QUATRO DE MAIO,871,NaN,ENGENHO NOVO,20950-091,GASOLINA,02/01/2025,5.59,NaN,R$ / litro,BRANCA
1007,SE,RJ,RIO DE JANEIRO,POSTO CATEDRAL LTDA,27.838.044/0001-41,AVENIDA MEM DE SA,55,NaN,CENTRO,20230-150,GASOLINA,02/01/2025,5.99,NaN,R$ / litro,RAIZEN
1011,SE,RJ,RIO DE JANEIRO,POSTO PALACIO GUANABARA LTDA,04.816.108/0001-08,RUA PINHEIRO MACHADO,83,83/FUNDOS,LARANJEIRAS,22231-090,GASOLINA,02/01/2025,6.24,NaN,R$ / litro,RAIZEN
1014,SE,RJ,RIO DE JANEIRO,AUTO CENTER GALINA LTDA,02.779.787/0001-67,RUA SAO JOAO BATISTA,73,"ESQUINA COM A RUA MENA BARRETO, 122",BOTAFOGO,22270-030,GASOLINA,02/01/2025,6.09,NaN,R$ / litro,IPIRANGA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
418184,SE,RJ,RIO DE JANEIRO,POSTO DE GASOLINA CIDADE DE DEUS LTDA,11.333.439/0001-52,ESTRADA DO GABINAL,1955,NaN,CIDADE DE DEUS,22763-153,GASOLINA,30/06/2025,5.69,NaN,R$ / litro,IPIRANGA
418244,SE,RJ,RIO DE JANEIRO,BARRA GAS COMERCIO E SERVICOS LTDA,11.513.372/0001-38,AVENIDA AYRTON SENNA,9201,NaN,JACAREPAGUA,22775-004,GASOLINA,30/06/2025,5.79,NaN,R$ / litro,IPIRANGA
418255,SE,RJ,RIO DE JANEIRO,CENTRO DE ABASTECIMENTO CHESSED LTDA,11.054.754/0001-40,AVENIDA AMARO CAVALCANTI,2554,A 2562 LOJA,ENGENHO DE DENTRO,20735-042,GASOLINA,30/06/2025,5.69,NaN,R$ / litro,BRANCA
418838,SE,RJ,RIO DE JANEIRO,AUTO POSTO LUAR DA RIO SANTOS II LTDA,11.217.808/0001-41,ESTRADA DO GUANDU ESQ.C/ BR 101,SN,KM 388 AREA REM III LOTE 210 SENTIDO RJ,SANTA CRUZ,23560-150,GASOLINA,30/06/2025,5.79,NaN,R$ / litro,RAIZEN
419210,SE,RJ,RIO DE JANEIRO,AUTO POSTO LUAR DA RIO SANTOS I LTDA,11.103.499/0001-89,ESTRADA DO GANDU ESQ C/BR101,SN,KM 388 AREA REM I LOTE 209 SENTIDO ANGRA,SANTA CRUZ,23560-150,GASOLINA,30/06/2025,5.89,NaN,R$ / litro,RAIZEN

In [8]:
estudo_gas_tab = estudo_gas.groupby('Bairro')['Valor de Venda'] .mean().reset_index()
estudo_gas_tab = estudo_gas_tab.sort_values(by='Valor de Venda', ascending=False)
estudo_gas_tab

                                  Bairro  Valor de Venda
18                              FLAMENGO        6.870000
30                       JARDIM BOTANICO        6.684762
16                               ESTACIO        6.674000
38                       PARQUE FLAMENGO        6.554286
32                                 LAGOA        6.516667
54                        VARGEM PEQUENA        6.502500
25                               IPANEMA        6.410000
33                           LARANJEIRAS        6.382083
3                                BENFICA        6.334231
44                   RECREIO DOS BANDEIR        6.327500
34                                LEBLON        6.322381
29  JARDIM  GUANABARA-ILHA DO GOVERNADOR        6.290000
20                                 GAVEA        6.290000
2                        BARRA DA TIJUCA        6.272708
55                         VASCO DA GAMA        6.263913
12                            COPACABANA        6.253415
5                               BOTAFOGO        6.242308
28                          JACAREPAGUÃ        6.240588
31                        JARDIM CARIOCA        6.240000
21                                GLORIA        6.223333
22                                GRAJAU        6.190000
17                              ESTÃCIO        6.190000
49                            SANTISSIMO        6.190000
41                               PILARES        6.177500
26                             ITANHANGA        6.170000
10                                CENTRO        6.152500
53                                TIJUCA        6.127879
45              RECREIO DOS BANDEIRANTES        6.124444
48                            SANTA CRUZ        6.116476
4                             BONSUCESSO        6.111905
7                                   CAJU        6.094348
24                       ILHA DO FUNDÃO        6.090000
57                          VISTA ALEGRE        6.075714
13                          DEL CASTILHO        6.068592
27                           JACAREPAGUA        6.056238
52                               TAQUARA        6.038800
1                                  BANGU        5.998333
40                                 PENHA        5.996000
23                             GUADALUPE        5.990000
36                             PACIENCIA        5.990000
8                           CAMPO GRANDE        5.979210
0                               ANCHIETA        5.972857
39                             PECHINCHA        5.921837
51                      SÃO CRISTÃVÃO        5.907692
50                         SAO CRISTOVAO        5.906216
15                          ENGENHO NOVO        5.890000
43                                 RAMOS        5.875185
19               FREGUESIA (JACAREPAGUA)        5.867778
56                         VILA DA PENHA        5.867778
9                                CATUMBI        5.813043
37                          PADRE MIGUEL        5.790000
11                        CIDADE DE DEUS        5.765000
35                                OLARIA        5.737200
46                          RIO COMPRIDO        5.736250
14                     ENGENHO DE DENTRO        5.713077
6                           BRAZ DE PINA        5.685000
42                            PRACA SECA        5.672609
47                         ROCHA MIRANDA        5.640000

In [17]:
estudo_gas_tab.head()

             Bairro  Valor de Venda
18         FLAMENGO        6.870000
30  JARDIM BOTANICO        6.684762
16          ESTACIO        6.674000
38  PARQUE FLAMENGO        6.554286
32            LAGOA        6.516667

In [18]:
estudo_gas_tab.tail()

               Bairro  Valor de Venda
46       RIO COMPRIDO        5.736250
14  ENGENHO DE DENTRO        5.713077
6        BRAZ DE PINA        5.685000
42         PRACA SECA        5.672609
47      ROCHA MIRANDA        5.640000

In [9]:
estudo_etanol = estudo_cidade_rj.loc[estudo_cidade_rj['Produto'] == 'ETANOL']
estudo_etanol

,ï»¿Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
1000,SE,RJ,RIO DE JANEIRO,POSTO MANÃ GARRINCHA DE BOTAFOGO LTDA.,07.877.289/0001-70,RUA VOLUNTARIOS DA PATRIA,308,NaN,BOTAFOGO,22270-010,ETANOL,02/01/2025,4.49,NaN,R$ / litro,RAIZEN
1004,SE,RJ,RIO DE JANEIRO,POSTO DE GASOLINA GASOAL LTDA,05.159.154/0001-44,RUA VINTE E QUATRO DE MAIO,871,NaN,ENGENHO NOVO,20950-091,ETANOL,02/01/2025,4.09,NaN,R$ / litro,BRANCA
1009,SE,RJ,RIO DE JANEIRO,POSTO CATEDRAL LTDA,27.838.044/0001-41,AVENIDA MEM DE SA,55,NaN,CENTRO,20230-150,ETANOL,02/01/2025,4.49,NaN,R$ / litro,RAIZEN
1013,SE,RJ,RIO DE JANEIRO,POSTO PALACIO GUANABARA LTDA,04.816.108/0001-08,RUA PINHEIRO MACHADO,83,83/FUNDOS,LARANJEIRAS,22231-090,ETANOL,02/01/2025,4.69,NaN,R$ / litro,RAIZEN
1018,SE,RJ,RIO DE JANEIRO,AUTO POSTO ATERRO DO FLAMENGO LTDA,01.309.199/0001-05,AVENIDA INFANTO DOM HENRIQUE,S/N,NaN,FLAMENGO,20021-140,ETANOL,02/01/2025,5.70,NaN,R$ / litro,VIBRA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
418188,SE,RJ,RIO DE JANEIRO,POSTO DE GASOLINA CIDADE DE DEUS LTDA,11.333.439/0001-52,ESTRADA DO GABINAL,1955,NaN,CIDADE DE DEUS,22763-153,ETANOL,30/06/2025,4.19,NaN,R$ / litro,IPIRANGA
418246,SE,RJ,RIO DE JANEIRO,BARRA GAS COMERCIO E SERVICOS LTDA,11.513.372/0001-38,AVENIDA AYRTON SENNA,9201,NaN,JACAREPAGUA,22775-004,ETANOL,30/06/2025,4.29,NaN,R$ / litro,IPIRANGA
418257,SE,RJ,RIO DE JANEIRO,CENTRO DE ABASTECIMENTO CHESSED LTDA,11.054.754/0001-40,AVENIDA AMARO CAVALCANTI,2554,A 2562 LOJA,ENGENHO DE DENTRO,20735-042,ETANOL,30/06/2025,4.09,NaN,R$ / litro,BRANCA
418842,SE,RJ,RIO DE JANEIRO,AUTO POSTO LUAR DA RIO SANTOS II LTDA,11.217.808/0001-41,ESTRADA DO GUANDU ESQ.C/ BR 101,SN,KM 388 AREA REM III LOTE 210 SENTIDO RJ,SANTA CRUZ,23560-150,ETANOL,30/06/2025,4.29,NaN,R$ / litro,RAIZEN
419214,SE,RJ,RIO DE JANEIRO,AUTO POSTO LUAR DA RIO SANTOS I LTDA,11.103.499/0001-89,ESTRADA DO GANDU ESQ C/BR101,SN,KM 388 AREA REM I LOTE 209 SENTIDO ANGRA,SANTA CRUZ,23560-150,ETANOL,30/06/2025,4.39,NaN,R$ / litro,RAIZEN

In [11]:
estudo_etanol_tab = estudo_etanol.groupby('Bairro')['Valor de Venda'] .mean().reset_index()
estudo_etanol_tab  = estudo_etanol_tab.sort_values(by='Valor de Venda', ascending=False)
estudo_etanol_tab

                                  Bairro  Valor de Venda
17                              FLAMENGO        5.700000
27                       JARDIM BOTANICO        5.137619
50                        VARGEM PEQUENA        5.035000
29                                 LAGOA        4.906667
19                                 GAVEA        4.890000
30                           LARANJEIRAS        4.860833
31                                LEBLON        4.823333
23                             ITANHANGA        4.802000
51                         VASCO DA GAMA        4.795556
26  JARDIM  GUANABARA-ILHA DO GOVERNADOR        4.790000
20                                GLORIA        4.790000
28                        JARDIM CARIOCA        4.780000
45                            SANTISSIMO        4.779286
25                          JACAREPAGUÃ        4.778235
5                               BOTAFOGO        4.745814
3                                BENFICA        4.743846
37                               PILARES        4.715000
40                   RECREIO DOS BANDEIR        4.715000
10                                CENTRO        4.702500
16                              ESTÃCIO        4.690000
22                       ILHA DO FUNDÃO        4.690000
4                             BONSUCESSO        4.690000
53                          VISTA ALEGRE        4.661429
41              RECREIO DOS BANDEIRANTES        4.661111
7                                   CAJU        4.646250
49                                TIJUCA        4.639091
44                            SANTA CRUZ        4.638090
12                          DEL CASTILHO        4.628873
2                        BARRA DA TIJUCA        4.612042
1                                  BANGU        4.572857
15                               ESTACIO        4.554000
48                               TAQUARA        4.546400
0                               ANCHIETA        4.544286
36                                 PENHA        4.519333
24                           JACAREPAGUA        4.505407
21                             GUADALUPE        4.502500
33                             PACIENCIA        4.490000
47                      SÃO CRISTÃVÃO        4.478462
35                             PECHINCHA        4.474490
8                           CAMPO GRANDE        4.474079
46                         SAO CRISTOVAO        4.459730
52                         VILA DA PENHA        4.412222
14                          ENGENHO NOVO        4.392424
39                                 RAMOS        4.379583
18               FREGUESIA (JACAREPAGUA)        4.334444
34                          PADRE MIGUEL        4.315000
9                                CATUMBI        4.307391
32                                OLARIA        4.305200
13                     ENGENHO DE DENTRO        4.236923
6                           BRAZ DE PINA        4.205000
42                          RIO COMPRIDO        4.205000
38                            PRACA SECA        4.190000
11                        CIDADE DE DEUS        4.173333
43                         ROCHA MIRANDA        4.170000

In [17]:
estudo_etanol_tab.head()

             Bairro  Valor de Venda
17         FLAMENGO        5.700000
27  JARDIM BOTANICO        5.137619
50   VARGEM PEQUENA        5.035000
29            LAGOA        4.906667
19            GAVEA        4.890000

In [16]:

estudo_etanol_tab.tail()

            Bairro  Valor de Venda
6     BRAZ DE PINA        4.205000
42    RIO COMPRIDO        4.205000
38      PRACA SECA        4.190000
11  CIDADE DE DEUS        4.173333
43   ROCHA MIRANDA        4.170000

In [18]:
estudo_diesel = estudo_cidade_rj.loc[estudo_cidade_rj['Produto'] == 'DIESEL']
estudo_diesel

,ï»¿Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
5566,SE,RJ,RIO DE JANEIRO,POSTO E GARAGEM DOM HELDER CAMARA LTDA,04.802.584/0001-70,AVENIDA DOM HELDER CAMARA,4539,NaN,DEL CASTILHO,20771-001,DIESEL,06/01/2025,5.89,NaN,R$ / litro,RAIZEN
5572,SE,RJ,RIO DE JANEIRO,AUTO CENTER VALE DO PAN 2007 LTDA. - ME,08.710.974/0001-70,ESTRADA DOS BANDEIRANTES,3300,NaN,JACAREPAGUA,22775-110,DIESEL,06/01/2025,6.09,NaN,R$ / litro,VIBRA
5616,SE,RJ,RIO DE JANEIRO,AUTO POSTO PINTO E ARAÃJO LTDA,05.807.381/0001-39,ESTRADA DO MONTEIRO,614,NaN,CAMPO GRANDE,23045-830,DIESEL,06/01/2025,5.64,NaN,R$ / litro,BRANCA
5650,SE,RJ,RIO DE JANEIRO,WEST POINT CAR POSTO DE ABASTECIMENTO LTDA,04.515.980/0001-16,ESTRADA DO MENDANHA,1518,NaN,CAMPO GRANDE,23087-280,DIESEL,06/01/2025,5.85,NaN,R$ / litro,BRANCA
5656,SE,RJ,RIO DE JANEIRO,AUTO POSTO CREMONEZE LTDA,01.988.505/0001-79,ESTRADA DO MENDANHA,4240,NaN,CAMPO GRANDE,23092-002,DIESEL,06/01/2025,6.09,NaN,R$ / litro,IPIRANGA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
417866,SE,RJ,RIO DE JANEIRO,POSTO DE ABASTECIMENTO BARRA MONTEIRO LTDA,09.329.262/0001-79,ESTRADA DO MONTEIRO,1697,NaN,CAMPO GRANDE,23036-340,DIESEL,30/06/2025,6.30,NaN,R$ / litro,RAIZEN
418127,SE,RJ,RIO DE JANEIRO,GNVIA RIO POSTO DE SERVIÃOS LTDA.,06.218.809/0001-70,RUA CONSELHEIRO GALVAO,926,NaN,ROCHA MIRANDA,21540-000,DIESEL,30/06/2025,5.69,NaN,R$ / litro,BRANCA
418186,SE,RJ,RIO DE JANEIRO,POSTO DE GASOLINA CIDADE DE DEUS LTDA,11.333.439/0001-52,ESTRADA DO GABINAL,1955,NaN,CIDADE DE DEUS,22763-153,DIESEL,30/06/2025,5.89,NaN,R$ / litro,IPIRANGA
418840,SE,RJ,RIO DE JANEIRO,AUTO POSTO LUAR DA RIO SANTOS II LTDA,11.217.808/0001-41,ESTRADA DO GUANDU ESQ.C/ BR 101,SN,KM 388 AREA REM III LOTE 210 SENTIDO RJ,SANTA CRUZ,23560-150,DIESEL,30/06/2025,5.79,NaN,R$ / litro,RAIZEN
419212,SE,RJ,RIO DE JANEIRO,AUTO POSTO LUAR DA RIO SANTOS I LTDA,11.103.499/0001-89,ESTRADA DO GANDU ESQ C/BR101,SN,KM 388 AREA REM I LOTE 209 SENTIDO ANGRA,SANTA CRUZ,23560-150,DIESEL,30/06/2025,5.79,NaN,R$ / litro,RAIZEN

In [19]:
estudo_diesel_tab = estudo_diesel.groupby('Bairro')['Valor de Venda'] .mean().reset_index()
estudo_diesel_tab  = estudo_diesel_tab.sort_values(by='Valor de Venda', ascending=False)
estudo_diesel_tab

             Bairro  Valor de Venda
5              CAJU        6.690000
2           BENFICA        6.390000
9       JACAREPAGUA        6.329130
12            PENHA        6.323333
13            RAMOS        6.285385
0             BANGU        6.200000
3        BONSUCESSO        6.190000
16    SAO CRISTOVAO        6.142000
6      CAMPO GRANDE        6.110157
11        PECHINCHA        6.106800
17    VILA DA PENHA        6.090000
10           OLARIA        6.081667
8      DEL CASTILHO        6.064167
15       SANTA CRUZ        6.033548
1   BARRA DA TIJUCA        5.981667
4      BRAZ DE PINA        5.920000
7    CIDADE DE DEUS        5.856667
14    ROCHA MIRANDA        5.810000

In [20]:
estudo_diesel_tab.head()

         Bairro  Valor de Venda
5          CAJU        6.690000
2       BENFICA        6.390000
9   JACAREPAGUA        6.329130
12        PENHA        6.323333
13        RAMOS        6.285385

In [21]:
estudo_diesel_tab.tail()

             Bairro  Valor de Venda
15       SANTA CRUZ        6.033548
1   BARRA DA TIJUCA        5.981667
4      BRAZ DE PINA        5.920000
7    CIDADE DE DEUS        5.856667
14    ROCHA MIRANDA        5.810000