## Bibliotecas
# Pandas

In [15]:
# Bibliotecas Python para análise e manipulação de dados
# trabalha com tabelas (DaraFrames) e séries (Series)
# Muito usada em ciência de dados

In [16]:
import numpy as np # np = numpy
import pandas as pd
import matplotlib.pyplot as plt

In [17]:
dados = [
    ['Ana', 23, 'São Paulo'],
    ['Bruno', 35, 'Rio de Janeiro'],
    ["Carlos", 45, 'Belo Horizonte'],
    ['Daniela', 29, 'Curitiba']
]
colunas = ['Nome', 'Idade', 'Cidade']
df = pd.DataFrame(dados, columns= colunas)
df

      Nome  Idade          Cidade
0      Ana     23       São Paulo
1    Bruno     35  Rio de Janeiro
2   Carlos     45  Belo Horizonte
3  Daniela     29        Curitiba

In [18]:
dicio = {'Nome': ['Ana', 'Bruno', 'Carlos', 'Daniela'],
         'Idade': [23,35,45,29], 
         'Cidade': ['São Paulo', 'Rio de Janeiro', 'Belo Horizonte', 'Curitiba'] }
df = pd.DataFrame(dicio)
df

      Nome  Idade          Cidade
0      Ana     23       São Paulo
1    Bruno     35  Rio de Janeiro
2   Carlos     45  Belo Horizonte
3  Daniela     29        Curitiba

In [19]:
df = pd.read_csv('BaseDPEvolucaoMensalCisp.csv', sep= ';', encoding= 'latin1')
df

FileNotFoundError: [Errno 2] No such file or directory: 'BaseDPEvolucaoMensalCisp.csv'

## Em tabelas com a de cima quando o numeral estiver a esquerda ele é uma str, quando a direita é um numeral (int ou float)

In [ ]:
df.head()

,cisp,mes,ano,mes_ano,aisp,risp,munic,mcirc,regiao,hom_doloso,...,cmp,cmba,ameaca,pessoas_desaparecidas,encontro_cadaver,encontro_ossada,pol_militares_mortos_serv,pol_civis_mortos_serv,registro_ocorrencias,fase
0,1,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,0,...,NaN,NaN,21,2,0,0,0,0,578,3
1,4,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,3,...,NaN,NaN,15,6,0,1,0,0,441,3
2,5,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,3,...,NaN,NaN,47,2,1,0,0,0,637,3
3,6,1,2003,2003m01,1,1,Rio de Janeiro,3304557,Capital,6,...,NaN,NaN,26,2,1,0,0,0,473,3
4,7,1,2003,2003m01,1,1,Rio de Janeiro,3304557,Capital,4,...,NaN,NaN,10,1,3,0,0,0,147,3

In [ ]:
df.describe()

,cisp,mes,ano,aisp,risp,mcirc,hom_doloso,lesao_corp_morte,latrocinio,cvli,...,cmp,cmba,ameaca,pessoas_desaparecidas,encontro_cadaver,encontro_ossada,pol_militares_mortos_serv,pol_civis_mortos_serv,registro_ocorrencias,fase
count,36492.000000,36492.000000,36492.000000,36492.000000,36492.000000,3.649200e+04,36492.000000,36492.000000,36492.000000,36492.000000,...,31846.000000,31846.000000,36492.000000,36492.000000,36492.000000,36492.000000,36492.00000,36492.000000,36492.000000,36492.000000
mean,81.723474,6.436781,2013.941439,20.133728,3.869972,3.793030e+06,2.953579,0.028116,0.096158,3.077853,...,8.777680,0.635370,41.226269,3.207224,0.362271,0.022991,0.01351,0.002192,440.695714,2.984983
std,48.319819,3.445147,6.488803,11.344411,2.011559,1.742922e+06,4.357102,0.179607,0.368068,4.472840,...,14.954426,1.640188,39.360389,4.146732,0.995520,0.181773,0.13143,0.048497,395.287849,0.121622
min,1.000000,1.000000,2003.000000,1.000000,1.000000,3.300100e+06,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,2.000000
25%,38.000000,3.000000,2008.000000,10.000000,2.000000,3.302601e+06,0.000000,0.000000,0.000000,0.000000,...,2.000000,0.000000,14.000000,0.000000,0.000000,0.000000,0.00000,0.000000,105.000000,3.000000
50%,78.000000,6.000000,2014.000000,20.000000,4.000000,3.304557e+06,1.000000,0.000000,0.000000,1.000000,...,5.000000,0.000000,30.000000,2.000000,0.000000,0.000000,0.00000,0.000000,368.500000,3.000000
75%,125.000000,9.000000,2020.000000,30.000000,6.000000,3.304557e+06,4.000000,0.000000,0.000000,4.000000,...,11.000000,1.000000,56.000000,5.000000,0.000000,0.000000,0.00000,0.000000,659.000000,3.000000
max,168.000000,12.000000,2025.000000,43.000000,7.000000,9.999999e+06,43.000000,6.000000,9.000000,43.000000,...,419.000000,60.000000,370.000000,191.000000,112.000000,10.000000,4.00000,2.000000,3185.000000,3.000000

In [ ]:
df.shape

(36492, 63)

In [ ]:
df.columns

Index(['cisp', 'mes', 'ano', 'mes_ano', 'aisp', 'risp', 'munic', 'mcirc',
       'regiao', 'hom_doloso', 'lesao_corp_morte', 'latrocinio', 'cvli',
       'hom_por_interv_policial', 'letalidade_violenta', 'tentat_hom',
       'lesao_corp_dolosa', 'estupro', 'hom_culposo', 'lesao_corp_culposa',
       'roubo_transeunte', 'roubo_celular', 'roubo_em_coletivo', 'roubo_rua',
       'roubo_veiculo', 'roubo_carga', 'roubo_comercio', 'roubo_residencia',
       'roubo_banco', 'roubo_cx_eletronico', 'roubo_conducao_saque',
       'roubo_apos_saque', 'roubo_bicicleta', 'outros_roubos', 'total_roubos',
       'furto_veiculos', 'furto_transeunte', 'furto_coletivo', 'furto_celular',
       'furto_bicicleta', 'outros_furtos', 'total_furtos', 'sequestro',
       'extorsao', 'sequestro_relampago', 'estelionato', 'apreensao_drogas',
       'posse_drogas', 'trafico_drogas', 'apreensao_drogas_sem_autor',
       'recuperacao_veiculos', 'apf', 'aaapai', 'cmp', 'cmba', 'ameaca',
       'pessoas_desaparecidas', 'encontro_cadaver', 'encontro_ossada',
       'pol_militares_mortos_serv', 'pol_civis_mortos_serv',
       'registro_ocorrencias', 'fase'],
      dtype='object')

In [ ]:
df_1000_a_2000 = df.iloc[1000:2001]
df_1000_a_2000

,cisp,mes,ano,mes_ano,aisp,risp,munic,mcirc,regiao,hom_doloso,...,cmp,cmba,ameaca,pessoas_desaparecidas,encontro_cadaver,encontro_ossada,pol_militares_mortos_serv,pol_civis_mortos_serv,registro_ocorrencias,fase
1000,147,8,2003,2003m08,8,6,São Francisco de Itabapoana,3304755,Interior,0,...,NaN,NaN,12,0,0,0,0,0,67,3
1001,151,8,2003,2003m08,11,7,Nova Friburgo,3303401,Interior,3,...,NaN,NaN,102,7,2,0,0,0,532,3
1002,152,8,2003,2003m08,11,7,Duas Barras,3301603,Interior,0,...,NaN,NaN,3,0,0,0,0,0,14,3
1003,153,8,2003,2003m08,11,7,Cantagalo,3301108,Interior,0,...,NaN,NaN,8,0,0,0,0,0,40,3
1004,154,8,2003,2003m08,11,7,Cordeiro;Macuco,9999998,Interior,0,...,NaN,NaN,17,0,0,0,0,0,74,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1996,100,4,2004,2004m04,28,5,Porto Real;Quatis,9999992,Interior,0,...,NaN,NaN,21,0,0,0,0,0,64,3
1997,101,4,2004,2004m04,10,5,Pinheiral,3303955,Interior,0,...,NaN,NaN,21,0,1,0,0,0,77,3
1998,104,4,2004,2004m04,30,7,São José do Vale do Rio Preto,3305158,Interior,0,...,NaN,NaN,4,0,0,0,0,0,33,3
1999,105,4,2004,2004m04,26,7,Petrópolis,3303906,Interior,2,...,NaN,NaN,108,8,0,0,0,0,511,3
2000,106,4,2004,2004m04,26,7,Petrópolis,3303906,Interior,1,...,NaN,NaN,10,1,0,0,0,0,119,3

In [ ]:
df_rj = df.loc[df['munic'] == 'Rio de Janeiro']
df_rj

,cisp,mes,ano,mes_ano,aisp,risp,munic,mcirc,regiao,hom_doloso,...,cmp,cmba,ameaca,pessoas_desaparecidas,encontro_cadaver,encontro_ossada,pol_militares_mortos_serv,pol_civis_mortos_serv,registro_ocorrencias,fase
0,1,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,0,...,NaN,NaN,21,2,0,0,0,0,578,3
1,4,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,3,...,NaN,NaN,15,6,0,1,0,0,441,3
2,5,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,3,...,NaN,NaN,47,2,1,0,0,0,637,3
3,6,1,2003,2003m01,1,1,Rio de Janeiro,3304557,Capital,6,...,NaN,NaN,26,2,1,0,0,0,473,3
4,7,1,2003,2003m01,1,1,Rio de Janeiro,3304557,Capital,4,...,NaN,NaN,10,1,3,0,0,0,147,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36391,40,7,2025,2025m07,9,2,Rio de Janeiro,3304557,Capital,3,...,3.0,0.0,25,2,0,0,0,0,598,2
36392,41,7,2025,2025m07,18,2,Rio de Janeiro,3304557,Capital,1,...,2.0,0.0,38,8,0,0,0,0,786,2
36393,42,7,2025,2025m07,31,2,Rio de Janeiro,3304557,Capital,0,...,7.0,1.0,75,2,0,0,0,0,1384,2
36394,43,7,2025,2025m07,27,2,Rio de Janeiro,3304557,Capital,0,...,7.0,0.0,86,9,1,0,0,0,671,2
36395,44,7,2025,2025m07,3,1,Rio de Janeiro,3304557,Capital,1,...,5.0,4.0,27,2,0,0,0,0,829,2

In [ ]:
# df_ni_20 = df.loc[df['munic'] in ['Nova Iguaçu', 'Duque de Caxias']]

In [ ]:
df_rj_ordenado = df_rj.sort_values(by='pessoas_desaparecidas', ascending=False)
df_rj_ordenado

,cisp,mes,ano,mes_ano,aisp,risp,munic,mcirc,regiao,hom_doloso,...,cmp,cmba,ameaca,pessoas_desaparecidas,encontro_cadaver,encontro_ossada,pol_militares_mortos_serv,pol_civis_mortos_serv,registro_ocorrencias,fase
35838,35,3,2025,2025m03,40,2,Rio de Janeiro,3304557,Capital,8,...,30.0,1.0,216,39,2,0,0,0,2346,3
18939,36,12,2014,2014m12,27,2,Rio de Janeiro,3304557,Capital,16,...,17.0,1.0,124,35,1,0,0,0,871,3
15377,35,10,2012,2012m10,40,2,Rio de Janeiro,3304557,Capital,6,...,32.0,0.0,271,34,2,0,0,0,1941,3
16465,35,6,2013,2013m06,40,2,Rio de Janeiro,3304557,Capital,8,...,23.0,1.0,295,32,1,0,0,0,1954,3
10804,35,12,2009,2009m12,39,2,Rio de Janeiro,3304557,Capital,26,...,15.0,0.0,283,31,0,0,0,0,1809,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22496,4,2,2017,2017m02,5,1,Rio de Janeiro,3304557,Capital,3,...,9.0,3.0,7,0,0,0,0,0,361,3
22495,1,2,2017,2017m02,5,1,Rio de Janeiro,3304557,Capital,0,...,2.0,2.0,4,0,1,0,0,0,335,3
22518,27,2,2017,2017m02,41,2,Rio de Janeiro,3304557,Capital,3,...,3.0,0.0,5,0,1,0,0,0,418,3
21,26,1,2003,2003m01,3,1,Rio de Janeiro,3304557,Capital,0,...,NaN,NaN,0,0,0,0,0,0,0,3
36358,6,7,2025,2025m07,4,1,Rio de Janeiro,3304557,Capital,2,...,7.0,4.0,18,0,0,0,0,0,561,2

## Agrupamento de dados
 Dados quantitativos são os que se podem somar

In [ ]:
df_regiao_ocorrencias = df.groupby('regiao')['registro_ocorrencias'].sum().reset_index()
df_regiao_ocorrencias

               regiao  registro_ocorrencias
0  Baixada Fluminense               3002660
1             Capital               7957395
2      Grande Niterói               1540712
3            Interior               3581101

In [21]:
df = pd.read_csv('https://www.gov.br/anp/pt-br/centrais-de-conteudo/dados-abertos/arquivos/shpc/dsas/ca/ca-2025-01.zip', sep= ';', encoding= 'latin1')
df

C:\Users\samuel.coimbra\AppData\Local\Temp\ipykernel_12416\2795576608.py:1: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,9,10,11,12,14,15) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('https://www.gov.br/anp/pt-br/centrais-de-conteudo/dados-abertos/arquivos/shpc/dsas/ca/ca-2025-01.zip', sep= ';', encoding= 'latin1')

,ï»¿Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
0,NE,CE,SOBRAL,ECONOGÃS DO BRASIL DIST. DERIV. DE PET. BIOC....,08.775.979/0002-62,RUA TABELIÃO IDELFONSO CAVALCANTI,455,NaN,CENTRO,62010-000,GASOLINA,01/01/2025,"6,29",NaN,R$ / litro,RAIZEN
1,NE,CE,SOBRAL,ECONOGÃS DO BRASIL DIST. DERIV. DE PET. BIOC....,08.775.979/0002-62,RUA TABELIÃO IDELFONSO CAVALCANTI,455,NaN,CENTRO,62010-000,GASOLINA ADITIVADA,01/01/2025,"6,49",NaN,R$ / litro,RAIZEN
2,NE,CE,SOBRAL,ECONOGÃS DO BRASIL DIST. DERIV. DE PET. BIOC....,08.775.979/0002-62,RUA TABELIÃO IDELFONSO CAVALCANTI,455,NaN,CENTRO,62010-000,DIESEL S10,01/01/2025,"6,19",NaN,R$ / litro,RAIZEN
3,NE,CE,SOBRAL,ECONOGÃS DO BRASIL DIST. DERIV. DE PET. BIOC....,08.775.979/0002-62,RUA TABELIÃO IDELFONSO CAVALCANTI,455,NaN,CENTRO,62010-000,ETANOL,01/01/2025,"5,19",NaN,R$ / litro,RAIZEN
4,NE,CE,SOBRAL,V.C.EMPREENDIMENTOS LTDA,03.551.935/0002-35,AVENIDA JOSE EUCLIDES FERREIRA GOMES,30,POSTO FLASH,CORACAO DE JESUS,62043-070,GASOLINA,01/01/2025,"6,53",NaN,R$ / litro,RAIZEN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
429518,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
429519,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
429520,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
429521,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
429522,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
df_rj = df.loc[df['Estado - Sigla'] == 'RJ']
df_rj

,ï»¿Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
54,SE,RJ,CAMPOS DOS GOYTACAZES,POSTO DE COMBUSTIVEIS CONTORNO DE CAMPOS LTDA,31.212.889/0002-85,AVENIDA NILO PECANHA,614,/822 PATIO,PQ SANTO AMARO,28030-035,GNV,01/01/2025,"5,39",NaN,R$ / mÂ³,VIBRA
55,SE,RJ,CAMPOS DOS GOYTACAZES,POSTO DE COMBUSTIVEIS CONTORNO DE CAMPOS LTDA,31.212.889/0002-85,AVENIDA NILO PECANHA,614,/822 PATIO,PQ SANTO AMARO,28030-035,GASOLINA,01/01/2025,"6,49",NaN,R$ / litro,VIBRA
56,SE,RJ,CAMPOS DOS GOYTACAZES,POSTO DE COMBUSTIVEIS CONTORNO DE CAMPOS LTDA,31.212.889/0002-85,AVENIDA NILO PECANHA,614,/822 PATIO,PQ SANTO AMARO,28030-035,GASOLINA ADITIVADA,01/01/2025,"6,69",NaN,R$ / litro,VIBRA
57,SE,RJ,CAMPOS DOS GOYTACAZES,POSTO DE COMBUSTIVEIS CONTORNO DE CAMPOS LTDA,31.212.889/0002-85,AVENIDA NILO PECANHA,614,/822 PATIO,PQ SANTO AMARO,28030-035,ETANOL,01/01/2025,"4,79",NaN,R$ / litro,VIBRA
58,SE,RJ,CAMPOS DOS GOYTACAZES,POSTO DE COMBUSTIVEIS B J LTDA,06.211.735/0001-40,RUA BENEDITO QUEIROZ,1,NaN,TURF CLUB,28024-040,GASOLINA,01/01/2025,"6,42",NaN,R$ / litro,BRANCA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
420095,SE,RJ,NOVA FRIBURGO,F.MURY DESIGN PROPAGANDA E PUBLICIDADE LTDA,07.707.130/0002-99,ESTRADA FRIBURGO AMPARO,15604,LP N 0130/2018 LP N 0440/2019,CHACARA PARAISO,28605-520,DIESEL S10,30/06/2025,"6,69",NaN,R$ / litro,VIBRA
420096,SE,RJ,NOVA FRIBURGO,F.MURY DESIGN PROPAGANDA E PUBLICIDADE LTDA,07.707.130/0002-99,ESTRADA FRIBURGO AMPARO,15604,LP N 0130/2018 LP N 0440/2019,CHACARA PARAISO,28605-520,ETANOL,30/06/2025,"5,05",NaN,R$ / litro,VIBRA
420152,SE,RJ,NITEROI,POSTO DE COMBUSTIVEIS GIGANTE DA ALAMEDA LTDA.,21.599.015/0001-98,ALAMEDA SAO BOAVENTURA,133,NaN,FONSECA,24130-005,GASOLINA,30/06/2025,"5,69",NaN,R$ / litro,RAIZEN
420153,SE,RJ,NITEROI,POSTO DE COMBUSTIVEIS GIGANTE DA ALAMEDA LTDA.,21.599.015/0001-98,ALAMEDA SAO BOAVENTURA,133,NaN,FONSECA,24130-005,GASOLINA ADITIVADA,30/06/2025,"5,69",NaN,R$ / litro,RAIZEN
420154,SE,RJ,NITEROI,POSTO DE COMBUSTIVEIS GIGANTE DA ALAMEDA LTDA.,21.599.015/0001-98,ALAMEDA SAO BOAVENTURA,133,NaN,FONSECA,24130-005,ETANOL,30/06/2025,"4,19",NaN,R$ / litro,RAIZEN

In [23]:
df_rj['Valor de Venda'] = df_rj['Valor de Venda'].str.replace('R$', '').str.replace('.', '').str.replace(',', '.').astype(float)

C:\Users\samuel.coimbra\AppData\Local\Temp\ipykernel_12416\2958547092.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_rj['Valor de Venda'] = df_rj['Valor de Venda'].str.replace('R$', '').str.replace('.', '').str.replace(',', '.').astype(float)

In [24]:
df_cidade_rj = df_rj.loc[df_rj['Municipio'] == 'RIO DE JANEIRO']
df_cidade_rj

,ï»¿Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
997,SE,RJ,RIO DE JANEIRO,POSTO MANÃ GARRINCHA DE BOTAFOGO LTDA.,07.877.289/0001-70,RUA VOLUNTARIOS DA PATRIA,308,NaN,BOTAFOGO,22270-010,GNV,02/01/2025,4.89,NaN,R$ / mÂ³,RAIZEN
998,SE,RJ,RIO DE JANEIRO,POSTO MANÃ GARRINCHA DE BOTAFOGO LTDA.,07.877.289/0001-70,RUA VOLUNTARIOS DA PATRIA,308,NaN,BOTAFOGO,22270-010,GASOLINA,02/01/2025,5.99,NaN,R$ / litro,RAIZEN
999,SE,RJ,RIO DE JANEIRO,POSTO MANÃ GARRINCHA DE BOTAFOGO LTDA.,07.877.289/0001-70,RUA VOLUNTARIOS DA PATRIA,308,NaN,BOTAFOGO,22270-010,GASOLINA ADITIVADA,02/01/2025,6.39,NaN,R$ / litro,RAIZEN
1000,SE,RJ,RIO DE JANEIRO,POSTO MANÃ GARRINCHA DE BOTAFOGO LTDA.,07.877.289/0001-70,RUA VOLUNTARIOS DA PATRIA,308,NaN,BOTAFOGO,22270-010,ETANOL,02/01/2025,4.49,NaN,R$ / litro,RAIZEN
1001,SE,RJ,RIO DE JANEIRO,POSTO DE GASOLINA GASOAL LTDA,05.159.154/0001-44,RUA VINTE E QUATRO DE MAIO,871,NaN,ENGENHO NOVO,20950-091,GASOLINA,02/01/2025,5.59,NaN,R$ / litro,BRANCA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
419210,SE,RJ,RIO DE JANEIRO,AUTO POSTO LUAR DA RIO SANTOS I LTDA,11.103.499/0001-89,ESTRADA DO GANDU ESQ C/BR101,SN,KM 388 AREA REM I LOTE 209 SENTIDO ANGRA,SANTA CRUZ,23560-150,GASOLINA,30/06/2025,5.89,NaN,R$ / litro,RAIZEN
419211,SE,RJ,RIO DE JANEIRO,AUTO POSTO LUAR DA RIO SANTOS I LTDA,11.103.499/0001-89,ESTRADA DO GANDU ESQ C/BR101,SN,KM 388 AREA REM I LOTE 209 SENTIDO ANGRA,SANTA CRUZ,23560-150,GASOLINA ADITIVADA,30/06/2025,6.19,NaN,R$ / litro,RAIZEN
419212,SE,RJ,RIO DE JANEIRO,AUTO POSTO LUAR DA RIO SANTOS I LTDA,11.103.499/0001-89,ESTRADA DO GANDU ESQ C/BR101,SN,KM 388 AREA REM I LOTE 209 SENTIDO ANGRA,SANTA CRUZ,23560-150,DIESEL,30/06/2025,5.79,NaN,R$ / litro,RAIZEN
419213,SE,RJ,RIO DE JANEIRO,AUTO POSTO LUAR DA RIO SANTOS I LTDA,11.103.499/0001-89,ESTRADA DO GANDU ESQ C/BR101,SN,KM 388 AREA REM I LOTE 209 SENTIDO ANGRA,SANTA CRUZ,23560-150,DIESEL S10,30/06/2025,5.89,NaN,R$ / litro,RAIZEN
419214,SE,RJ,RIO DE JANEIRO,AUTO POSTO LUAR DA RIO SANTOS I LTDA,11.103.499/0001-89,ESTRADA DO GANDU ESQ C/BR101,SN,KM 388 AREA REM I LOTE 209 SENTIDO ANGRA,SANTA CRUZ,23560-150,ETANOL,30/06/2025,4.39,NaN,R$ / litro,RAIZEN

In [25]:
estudo_gas = df_cidade_rj.loc[df_cidade_rj['Produto'] == 'GASOLINA']
estudo_gas

,ï»¿Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
998,SE,RJ,RIO DE JANEIRO,POSTO MANÃ GARRINCHA DE BOTAFOGO LTDA.,07.877.289/0001-70,RUA VOLUNTARIOS DA PATRIA,308,NaN,BOTAFOGO,22270-010,GASOLINA,02/01/2025,5.99,NaN,R$ / litro,RAIZEN
1001,SE,RJ,RIO DE JANEIRO,POSTO DE GASOLINA GASOAL LTDA,05.159.154/0001-44,RUA VINTE E QUATRO DE MAIO,871,NaN,ENGENHO NOVO,20950-091,GASOLINA,02/01/2025,5.59,NaN,R$ / litro,BRANCA
1007,SE,RJ,RIO DE JANEIRO,POSTO CATEDRAL LTDA,27.838.044/0001-41,AVENIDA MEM DE SA,55,NaN,CENTRO,20230-150,GASOLINA,02/01/2025,5.99,NaN,R$ / litro,RAIZEN
1011,SE,RJ,RIO DE JANEIRO,POSTO PALACIO GUANABARA LTDA,04.816.108/0001-08,RUA PINHEIRO MACHADO,83,83/FUNDOS,LARANJEIRAS,22231-090,GASOLINA,02/01/2025,6.24,NaN,R$ / litro,RAIZEN
1014,SE,RJ,RIO DE JANEIRO,AUTO CENTER GALINA LTDA,02.779.787/0001-67,RUA SAO JOAO BATISTA,73,"ESQUINA COM A RUA MENA BARRETO, 122",BOTAFOGO,22270-030,GASOLINA,02/01/2025,6.09,NaN,R$ / litro,IPIRANGA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
418184,SE,RJ,RIO DE JANEIRO,POSTO DE GASOLINA CIDADE DE DEUS LTDA,11.333.439/0001-52,ESTRADA DO GABINAL,1955,NaN,CIDADE DE DEUS,22763-153,GASOLINA,30/06/2025,5.69,NaN,R$ / litro,IPIRANGA
418244,SE,RJ,RIO DE JANEIRO,BARRA GAS COMERCIO E SERVICOS LTDA,11.513.372/0001-38,AVENIDA AYRTON SENNA,9201,NaN,JACAREPAGUA,22775-004,GASOLINA,30/06/2025,5.79,NaN,R$ / litro,IPIRANGA
418255,SE,RJ,RIO DE JANEIRO,CENTRO DE ABASTECIMENTO CHESSED LTDA,11.054.754/0001-40,AVENIDA AMARO CAVALCANTI,2554,A 2562 LOJA,ENGENHO DE DENTRO,20735-042,GASOLINA,30/06/2025,5.69,NaN,R$ / litro,BRANCA
418838,SE,RJ,RIO DE JANEIRO,AUTO POSTO LUAR DA RIO SANTOS II LTDA,11.217.808/0001-41,ESTRADA DO GUANDU ESQ.C/ BR 101,SN,KM 388 AREA REM III LOTE 210 SENTIDO RJ,SANTA CRUZ,23560-150,GASOLINA,30/06/2025,5.79,NaN,R$ / litro,RAIZEN
419210,SE,RJ,RIO DE JANEIRO,AUTO POSTO LUAR DA RIO SANTOS I LTDA,11.103.499/0001-89,ESTRADA DO GANDU ESQ C/BR101,SN,KM 388 AREA REM I LOTE 209 SENTIDO ANGRA,SANTA CRUZ,23560-150,GASOLINA,30/06/2025,5.89,NaN,R$ / litro,RAIZEN

In [71]:
df_gas_tab_rj = estudo_gas.groupby('Bairro')['Valor de Venda'] .mean().reset_index()
df_gas_tab_rj = df_gas_tab_rj.sort_values(by='Valor de Venda', ascending=False)
df_gas_tab_rj

                                  Bairro  Valor de Venda
18                              FLAMENGO        6.870000
30                       JARDIM BOTANICO        6.684762
16                               ESTACIO        6.674000
38                       PARQUE FLAMENGO        6.554286
32                                 LAGOA        6.516667
54                        VARGEM PEQUENA        6.502500
25                               IPANEMA        6.410000
33                           LARANJEIRAS        6.382083
3                                BENFICA        6.334231
44                   RECREIO DOS BANDEIR        6.327500
34                                LEBLON        6.322381
29  JARDIM  GUANABARA-ILHA DO GOVERNADOR        6.290000
20                                 GAVEA        6.290000
2                        BARRA DA TIJUCA        6.272708
55                         VASCO DA GAMA        6.263913
12                            COPACABANA        6.253415
5                               BOTAFOGO        6.242308
28                          JACAREPAGUÃ        6.240588
31                        JARDIM CARIOCA        6.240000
21                                GLORIA        6.223333
22                                GRAJAU        6.190000
17                              ESTÃCIO        6.190000
49                            SANTISSIMO        6.190000
41                               PILARES        6.177500
26                             ITANHANGA        6.170000
10                                CENTRO        6.152500
53                                TIJUCA        6.127879
45              RECREIO DOS BANDEIRANTES        6.124444
48                            SANTA CRUZ        6.116476
4                             BONSUCESSO        6.111905
7                                   CAJU        6.094348
24                       ILHA DO FUNDÃO        6.090000
57                          VISTA ALEGRE        6.075714
13                          DEL CASTILHO        6.068592
27                           JACAREPAGUA        6.056238
52                               TAQUARA        6.038800
1                                  BANGU        5.998333
40                                 PENHA        5.996000
23                             GUADALUPE        5.990000
36                             PACIENCIA        5.990000
8                           CAMPO GRANDE        5.979210
0                               ANCHIETA        5.972857
39                             PECHINCHA        5.921837
51                      SÃO CRISTÃVÃO        5.907692
50                         SAO CRISTOVAO        5.906216
15                          ENGENHO NOVO        5.890000
43                                 RAMOS        5.875185
19               FREGUESIA (JACAREPAGUA)        5.867778
56                         VILA DA PENHA        5.867778
9                                CATUMBI        5.813043
37                          PADRE MIGUEL        5.790000
11                        CIDADE DE DEUS        5.765000
35                                OLARIA        5.737200
46                          RIO COMPRIDO        5.736250
14                     ENGENHO DE DENTRO        5.713077
6                           BRAZ DE PINA        5.685000
42                            PRACA SECA        5.672609
47                         ROCHA MIRANDA        5.640000

In [72]:
gas_array = np.array(df_gas_tab_rj ['Valor de Venda'])
q1 = np.percentile(gas_array , 25)
q2 = np.percentile(gas_array , 50)
q3 = np.percentile(gas_array , 75)
media = np.mean(gas_array)
mediana = np.median(gas_array)

distancia =  (media - mediana) / mediana
iqr = q3 - q1
limite_superior = q3 + (1.5 * iqr)

In [77]:
print(f'A distância é {distancia*100:.2f}')
print(f'O iqr é {iqr}')
print(f'O limite superior é {limite_superior:.2f}')

A distância é -0.01
O iqr é 0.35006002670258063
O limite superior é 6.79

In [76]:
gas_rj_outliers = df_gas_tab_rj.loc[df_gas_tab_rj['Valor de Venda'] >=limite_superior]
gas_rj_outliers.sort_values(by= 'Valor de Venda', ascending= False)

      Bairro  Valor de Venda
18  FLAMENGO            6.87

## Gasolina brasil

In [33]:
df_gas = df.loc[df['Produto'] == 'GASOLINA']
df_gas

,ï»¿Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
0,NE,CE,SOBRAL,ECONOGÃS DO BRASIL DIST. DERIV. DE PET. BIOC....,08.775.979/0002-62,RUA TABELIÃO IDELFONSO CAVALCANTI,455,NaN,CENTRO,62010-000,GASOLINA,01/01/2025,"6,29",NaN,R$ / litro,RAIZEN
4,NE,CE,SOBRAL,V.C.EMPREENDIMENTOS LTDA,03.551.935/0002-35,AVENIDA JOSE EUCLIDES FERREIRA GOMES,30,POSTO FLASH,CORACAO DE JESUS,62043-070,GASOLINA,01/01/2025,"6,53",NaN,R$ / litro,RAIZEN
8,NE,CE,SOBRAL,CENTER POSTO COMERCIAL LTDA,02.905.892/0001-03,AVENIDA JOSE ARIMATEIA MONTE E SILVA,425,NaN,CAMPOS DOS VELHOS,62114-000,GASOLINA,01/01/2025,"6,69",NaN,R$ / litro,VIBRA
12,NE,CE,SOBRAL,V.C.EMPREENDIMENTOS LTDA,03.551.935/0001-54,AVENIDA MONSENHOR JOSE ALOISIO PINTO,80,LOJA 01,DOM EXPEDITO,62050-255,GASOLINA,01/01/2025,"6,69",NaN,R$ / litro,IPIRANGA
16,NE,CE,SOBRAL,POSTO SAO DOMINGOS LTDA,69.366.128/0001-70,AVENIDA DOUTOR GUARANI,854,NaN,JOCELY DANTAS DE ANDRADE TORRES,62042-030,GASOLINA,01/01/2025,"6,69",NaN,R$ / litro,RAIZEN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
420389,NE,PE,BELO JARDIM,AUTO POSTO GARANHUNS LTDA,70.065.800/0003-38,AVENIDA OSCAR PEREIRA DA SILVA,364,NaN,SANTO ANTONIO,55152-110,GASOLINA,30/06/2025,"5,70",NaN,R$ / litro,BRANCA
420392,NE,PE,BELO JARDIM,POSTO CENTRO LTDA,54.096.194/0001-08,PRACA CAPITAO TOMAS FERREIRA,SN,NaN,CENTRO,55150-130,GASOLINA,30/06/2025,"5,70",NaN,R$ / litro,LARCO
420396,S,PR,CASCAVEL,POSTO PARAVIS LTDA,03.358.802/0002-47,RUA PARANA,4560,NaN,CENTRO,85810-011,GASOLINA,30/06/2025,"6,49",NaN,R$ / litro,VIBRA
420400,NE,BA,SERRINHA,COMERCIO DE COMBUSTIVEIS VEREDAS LTDA,54.003.912/0001-46,RODOVIA BA 409,151 A,QUADRAD LOTE 09,NOVO HORIZONTE - 01,48700-000,GASOLINA,30/06/2025,"5,99",NaN,R$ / litro,BRANCA
420405,S,RS,ALVORADA,POSTO DE COMBUSTIVEIS DEA LTDA,03.299.835/0002-63,AVENIDA PRES GETULIO VARGAS,2725,NaN,MARINGA,94810-002,GASOLINA,30/06/2025,"6,05",NaN,R$ / litro,BRANCA

In [44]:
df_gas['Valor de Venda'] = df_gas['Valor de Venda'].str.replace('R$', '').str.replace('.', '').str.replace(',', '.').astype(float)

C:\Users\samuel.coimbra\AppData\Local\Temp\ipykernel_12416\3549589253.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_gas['Valor de Venda'] = df_gas['Valor de Venda'].str.replace('R$', '').str.replace('.', '').str.replace(',', '.').astype(float)

In [ ]:
df_gas_tab_geral = df_gas.groupby('Estado - Sigla')['Valor de Venda'].mean().reset_index()
df_gas_tab_geral = df_gas_tab_geral.sort_values(by='Valor de Venda', ascending=False)
df_gas_tab_geral

   Estado - Sigla  Valor de Venda
0              AC        7.733930
2              AM        7.300497
20             RO        7.003432
21             RR        6.985823
26             TO        6.550886
24             SE        6.549082
6              DF        6.500826
19             RN        6.474644
23             SC        6.466314
17             PR        6.463486
4              BA        6.452381
13             PA        6.452336
5              CE        6.446906
1              AL        6.398823
15             PE        6.344393
7              ES        6.307678
8              GO        6.295351
11             MS        6.276508
22             RS        6.252749
12             MT        6.241217
9              MA        6.220979
18             RJ        6.188062
10             MG        6.174649
14             PB        6.155015
25             SP        6.124023
3              AP        6.042440
16             PI        6.002436

In [ ]:
gas_array = np.array(df_gas_tab_geral ['Valor de Venda'])
q1 = np.percentile(gas_array , 25)
q2 = np.percentile(gas_array , 50)
q3 = np.percentile(gas_array , 75)
media = np.mean(gas_array)
mediana = np.median(gas_array)

distancia =  (media - mediana) / mediana
iqr = q3 - q1
limite_superior = q3 + (1.5 * iqr)

In [60]:
print(f'A distância é {distancia*100:.2f}')
print(f'O iqr é {iqr}')
print(f'O limite superior é {limite_superior}')

A distância é 0.95
O iqr é 0.2566367348483194
O limite superior é 6.872690040115859

In [ ]:
gas_outliers = df_gas_tab_geral.loc[df_gas_tab_geral['Valor de Venda'] >=limite_superior]
gas_outliers.sort_values(by= 'Valor de Venda', ascending= False)

   Estado - Sigla  Valor de Venda
0              AC        7.733930
2              AM        7.300497
20             RO        7.003432
21             RR        6.985823

In [ ]:
fig, axs = plt.subplots(2,2, figsize= (12,8))
axs[0, 0].plot(df_dias['Dias'], df_dias['Venda'], linestyle= '-', color= 'crimson')
axs[0,0].set_title('Vendas por Dias')
axs[0,0].set_xlabel('Dia da Semana')
axs[0,0].set_ylabel('Valor Vendido')

# Gráfico 2 (0,1)

axs[0,1].bar(df_produtos['Produtos'], df_produtos['Vendas'],   linestyle= '-', color= 'green')
axs[0,1].set_title('Vendas de Produtos')
axs[0,1].set_xlabel('Produtos')
axs[0,1].set_ylabel('Vendas')

# Gráfico 3 (1,0)
axs[1,0].barh(df_produtos['Produtos'], df_produtos['Vendas'],  linestyle= '-', color= 'black')
axs[1,0].set_title('Vendas de Produtos (Horizontal)')
axs[1,0].set_xlabel('Vendas')
axs[1,0].set_ylabel('Produtos')

# Gráfico 4 (1,1)
axs[1,1].axis('off')
axs[1,1].text(0.1,1, 'Resumo da Aula:', fontsize=14, color= 'black') # posicionamento no .text(x, y, texto)
axs[1,1].text(0.1, 0.6, '- subplots usa matriz de eixos', fontsize=12, color= 'black')
axs[1,1].text(0.1, 0.5, '- mais controle sobre cada gráfico', fontsize=12, color= 'black')
axs[1,1].text(0.1, 0.4, '- ideal para projetos mais complexos', fontsize=12, color= 'black')